/* body style*/
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1A1A1D; 
  color: #C5C6C7;
  /* set font size */
  font-size: 1.4em;
}
/* header and foot style */
.header, .footer {
  background-color: #4E4E50; 
  color: #66FCF1;
  padding: 10px 20px;
  text-align: center;
}
/* nar bar style */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* space out nav items */
.nav li {
  padding: 0 15px;
}
/* font size for nav bar and color */
.nav a, a {
  color: #66FCF1; 
  text-decoration: none;
  font-size: 16px;
}
/* hover settings for nav bar */
.nav a:hover, a:hover {
  color: #070405; 
  text-decoration: underline;
}
/* use css grid for main layout */
.main {
  display: grid;
  grid-template-columns: 200px auto;
  padding: 20px;
  gap: 20px;
}
/* style for main content */
.content, .menu, .mission, .rating {
  background-color: #2B2B2D; 
  padding: 20px;
  border: 1px solid #6B6B6D; 
  border-radius: 4px;
}
/* allign mission title and picture */
.mission, .game-pic {
  text-align: center;
}
/* style for mission images */
.mission-image {
  max-width: 15em;
  margin: 10px 0;
  height: auto; 
}
/* style for mission links */
.clickable {
  cursor: pointer;
  color: #66FCF1;
  text-decoration: underline;
}
.clickable:hover {
  color: #070405; 
}
/* style for rating section  */
.rating p, .stars {
  font-size: 1.4em;
  margin: 5px 0;
  color: #66FCF1; 
}
.stars::after {
  content: "☆";
  color: #6B6E70; 
}
/* style for sidebar */
.sidebar {
  position: sticky; 
  top: 0; 
  padding: 20px; 
  border-right: 2px solid #6B6B6D; 
  background-color: #2B2B2D; 
}
.sidebar ul {
  list-style: none; 
  margin: 0; 
  padding: 0; 
}
.sidebar li + li {
  margin-top: 15px; 
}
.sidebar a {
  color: #C5C6C7; 
  text-decoration: none; 
  font-size: 20px;
}
.sidebar a:hover {
  color: #66FCF1;
  text-decoration: underline; 
}
